<form class="content-section" (ngSubmit)="submitSizeForm()">
  <h1>Size Of Wildfire Types</h1>
  <p class="description">Select a category to view data and trends:</p>
  <div class="flex-container">
    <div class="form-container">
      <div class="card">
        <label>Time Range Start:</label>
        <p-calendar [(ngModel)]="startDate" name="startDate"></p-calendar>
      </div>
      <div class="card">
        <label>Time Range End:</label>
        <p-calendar [(ngModel)]="endDate" name="endDate"></p-calendar>
      </div>
      <div class="card">
        <label for="reportingAgency">Reporting Agency (Optional):</label>
        <input
          id="reportingAgency"
          type="text"
          [(ngModel)]="reportingAgency"
          name="reportingAgency"
          placeholder="Reporting Agency"
        />
      </div>
      <div class="card">
        <label for="wildfireType">Wildfire Type (Optional):</label>
        <input id="wildfireType" type="text" [(ngModel)]="wildfireType" name="wildfireType" placeholder="Wildfire Type" />
      </div>
      <div class="card">
        <button type="submit" class="btn-primary">View Results</button>
      </div>
    </div>
    <div class="chart-container">
      <p-chart type="line" [data]="data" [options]="options"></p-chart>
    </div>
  </div>
</form>
