<form class="content-section" (ngSubmit)="submitTypesForm()">
  <h1>Wildfire Types Based on Geography</h1>
  <p class="description">Select a category to view data and trends</p>
  <div class="flex flex-column gap-2">
    <div class="flex flex-row gap-1">
      <div class="col-6 card">
        <label>Start Year</label>
        <input
          type="text"
          pInputText
          [ngModel]="startDate$()"
          (ngModelChange)="startDate$.set($event)"
          [disabled]="!dataReady"
          name="startYear"
          min="1900"
          max="2100"
        />
      </div>
      <div class="col-6 card">
        <label>End Year</label>
        <input
          type="text"
          pInputText
          [ngModel]="endDate$()"
          (ngModelChange)="endDate$.set($event)"
          [disabled]="!dataReady"
          name="endYear"
          min="1900"
          max="2100"
        />
      </div>
    </div>
    <div class="flex flex-row gap-1">
      <div class="col-4 card">
        <label for="geographicArea">Geographic Area</label>
        <p-multiSelect
          [options]="geographicAreaOpts"
          [ngModel]="geographicArea$()"
          (ngModelChange)="geographicArea$.set($event)"
          [disabled]="!dataReady"
          optionLabel="name"
          [showClear]="true"
          placeholder="Select an Area Code"
          name="geographicArea"
          id="geographicArea"></p-multiSelect>
      </div>
      <div class="col-4 card">
        <label for="wildfireType">Wildfire Type</label>
        <p-multiSelect
          [options]="wildfireTypeOpts"
          [ngModel]="causeDescription$()"
          (ngModelChange)="causeDescription$.set($event)"
          optionLabel="name"
          [disabled]="!dataReady"
          [showClear]="true"
          placeholder="Select a Cause Description"
          name="wildfireType"
          id="wildfireType"></p-multiSelect>
      </div>
      <div class="col-4 card">
        <button pButton type="submit" class="btn-primary" [disabled]="!dataReady">View Results</button>
      </div>
    </div>
    <div>
      <label for="avgFireSizeData">Average Fire Size (Acres)</label>
      <p-chart id="avgFireSizeData" class="col-12" type="line" [data]="avgFireSizeData" [options]="options"></p-chart>
    </div>
    <div>
      <label for="totalFireSizeData">Total Fire Size (Acres)</label>
      <p-chart id="totalFireSizeData" class="col-12" type="line" [data]="totalFireSizeData"
               [options]="options"></p-chart>
    </div>
    <div>
      <label for="totalFireNumData">Total Fire Count</label>
      <p-chart id="totalFireNumData" class="col-12" type="line" [data]="totalFireNumData" [options]="options"></p-chart>
    </div>
  </div>
</form>
