<form class="content-section" (ngSubmit)="submitContainmentForm()">
  <h1>Agency Containment Time vs Wildfire Size</h1>
  <p class="description">Select a category to view data and trends</p>
  <div class="flex flex-column gap-2">
    <div class="flex flex-row gap-1">
      <div class="col-4 card">
        <label>Start Year</label>
        <input
          type="text"
          pInputText
          [ngModel]="startDate$()"
          (ngModelChange)="startDate$.set($event)"
          [disabled]="!dataReady"
          name="startYear"
          min="1900"
          max="2100"
        />
      </div>
      <div class="col-4 card">
        <label>End Year</label>
        <input
          type="text"
          pInputText
          [ngModel]="endDate$()"
          (ngModelChange)="endDate$.set($event)"
          [disabled]="!dataReady"
          name="endYear"
          min="1900"
          max="2100"
        />
      </div>
      <div class="col-4 card">
        <label for="reportingAgencies">Reporting Agency</label>
        <p-multiSelect
          [options]="reportingAgencyOpts"
          [ngModel]="reportingAgencies$()"
          (ngModelChange)="reportingAgencies$.set($event)"
          [disabled]="!dataReady"
          optionLabel="name"
          [showClear]="true"
          placeholder="Select a City"
          name="reportingAgencies"
          id="reportingAgencies"></p-multiSelect>
      </div>
    </div>
    <div class="flex flex-row gap-1">
      <div class="col-4 card">
        <button pButton type="submit" class="btn-primary"
                [disabled]="!dataReady || !reportingAgencies$() || !startDate$() || !endDate$()">View Results
        </button>
      </div>
    </div>
    <div class="flex flex-column gap-2">
      <!-- Scatter Plot -->
      <div>
        <label for="scatterDataOne">Containment Time vs. Average Fire Size</label>
        <p-chart
          id="scatterDataOne"
          type="scatter"
          [data]="scatterDataOne$()"
          [options]="scatterOpts"
        ></p-chart>
      </div>

      <!-- Scatter Plot -->
      <!--      <div>-->
      <!--        <label for="scatterDataTwo">Containment Time Over the Years</label>-->
      <!--        <p-chart-->
      <!--          id="scatterDataTwo"-->
      <!--          type="scatter"-->
      <!--          [data]="scatterDataTwo$()"-->
      <!--          [options]="scatterOpts"-->
      <!--        ></p-chart>-->
      <!--      </div>-->

      <!--      &lt;!&ndash; Bar Chart &ndash;&gt;-->
      <!--      <div>-->
      <!--        <label for="barChartData">Total Fires by Agency</label>-->
      <!--        <p-chart-->
      <!--          id="barChartData"-->
      <!--          type="bar"-->
      <!--          [data]="barChartData$()"-->
      <!--          [options]="options"-->
      <!--        ></p-chart>-->
      <!--      </div>-->
    </div>
  </div>
</form>

