<form class="content-section" (ngSubmit)="submitsSizesBasedOnGeoForm()">
  <h1>Wildfire Sizes Based on Geography</h1>
  <p class="description">Select a category to view data and trends:</p>
  <div class="flex-container">
    <div class="form-container">
      <div class="card">
        <label>Time Range Start:</label>
        <p-calendar [(ngModel)]="startDate" name="startDate"></p-calendar>
      </div>
      <div class="card">
        <label>Time Range End:</label>
        <p-calendar [(ngModel)]="endDate" name="endDate"></p-calendar>
      </div>
      <div class="card">
        <label for="geographicArea">Geographic Area (Optional):</label>
        <select name="geographicArea" id="geographicArea" [(ngModel)]="geographicArea" class="form-control">
          <option value="">Select a Region</option>
          <option value="NA">NA - National</option>
          <option value="IN">IN - International</option>
          <option value="AK">AK - Alaska</option>
          <option value="CA">CA - California</option>
          <option value="EA">EA - Eastern Area</option>
          <option value="GB">GB - Great Basin</option>
          <option value="NR">NR - Northern Rockies</option>
          <option value="NW">NW - Northwest</option>
          <option value="RM">RM - Rocky Mountain</option>
          <option value="SA">SA - Southern Area</option>
          <option value="SW">SW - Southwest</option>
        </select>
      </div>
      <div class="card">
        <button type="submit" class="btn-primary">View Results</button>
      </div>
    </div>
    <div class="chart-container">
      <p-chart type="line" [data]="data" [options]="options"></p-chart>
    </div>
  </div>
</form>
