<div class="grid" [style]="{'margin-top': '10vh'}">
  <p-card header="General Searching & Filtering" subheader="Ad-hoc availability to the database" class="p-card">
    <div class="flex flex-column gap-2">
      <button
        pButton
        pRipple
        label="Get Database Status"
        type="button"
        class="p-button-raised"
        [routerLink]="['/status']"
      ></button>
      <button
        pButton
        pRipple
        label="Search Fire Incidents"
        type="button"
        class="p-button-raised"
        [routerLink]="['/fire-incident-search']"
      ></button>
      <button
        pButton
        pRipple
        label="Search NWCG Units"
        type="button"
        class="p-button-raised"
      ></button>
      <button
        pButton
        pRipple
        label="Search Reporting Agencies"
        type="button"
        class="p-button-raised"
      ></button>
    </div>
  </p-card>
  <p-card header="Complex Trend Queries" subheader="Predefined deep dives into the data" class="p-card">
    <div class="flex flex-column gap-2">
      <button
        pButton
        pRipple
        label="Wildfires: Changes in Size and Frequency"
        type="button"
        class="p-button-raised"
        [routerLink]="['/wildfire-changes-in-size-and-frequency']"
      ></button>
      <button
        pButton
        pRipple
        label="Wildfire Types Based on Geography"
        type="button"
        class="p-button-raised"
        [routerLink]="['/wildfire-types-geography']"
      ></button>
      <button
        pButton
        pRipple
        label="Agency Containment Time vs Wildfire Size"
        type="button"
        class="p-button-raised"
        [routerLink]="['/containment-vs-size']"
      ></button>
      <button
        pButton
        pRipple
        label="Size of Wildfire Types"
        type="button"
        class="p-button-raised"
        [routerLink]="['/wildfire-types-size']"
      ></button>
      <button
        pButton
        pRipple
        label="Wildfire Sizes Based on Geography"
        type="button"
        class="p-button-raised"
        [routerLink]="['/wildfire-sizes-geography']"
      ></button>
    </div>
  </p-card>
</div>
